<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Monkey News Agency</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta name="HandheldFriendly" content="true"/>
    <link rel="stylesheet" href="assets/css/master.css"/>
    <!-- SWITCHER-->
    <link href="assets/plugins/switcher/css/switcher.css" rel="stylesheet" id="switcher-css" media="all"/>
    <link href="assets/plugins/switcher/css/color1.css" rel="alternate stylesheet" title="color1" media="all"/>
    <link href="assets/plugins/switcher/css/color2.css" rel="alternate stylesheet" title="color2" media="all"/>
    <link href="assets/plugins/switcher/css/color3.css" rel="alternate stylesheet" title="color3" media="all"/>
    <link href="assets/plugins/switcher/css/color4.css" rel="alternate stylesheet" title="color4" media="all"/>
    <link href="assets/plugins/switcher/css/color5.css" rel="alternate stylesheet" title="color5" media="all"/>
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
  </head>
  <body>
    <!-- Loader-->
    <div id="page-preloader"><span class="spinner"></span></div>
    <!-- Loader end-->
    <div data-header="sticky" data-header-top="200" class="layout-theme animated-css">
      <!-- Start Switcher-->
      <div class="switcher-wrapper">
        <div class="demo_changer">
          <div class="demo-icon color_primary"><i class="fa fa-cog fa-spin fa-2x"></i></div>
          <div class="form_holder">
            <div class="row">
              <div class="col-xs-12">
                <div class="predefined_styles">
                  <div class="skin-theme-switcher">
                    <h4>Color</h4><a href="javascript:void(0);" data-switchcolor="color1" style="background-color:#df0001;" class="styleswitch"></a><a href="javascript:void(0);" data-switchcolor="color2" style="background-color:#86a800;" class="styleswitch"></a><a href="javascript:void(0);" data-switchcolor="color3" style="background-color:#00adb4;" class="styleswitch"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end switcher-->
      <div class="cd-main">
        <div class="wrap-content cd-section cd-selected">
          <header class="header">
            <div class="top-header">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="top-header__link bg-primary">
                      <div class="top-header__wrap-link">top headlines<i class="icon fa fa-caret-right"></i></div>
                    </div>
                    <div class="top-header__ticker">
                      <ul id="myUl">
                        <li class="news-item"><a href="news_details-1.html" class="news-item__link">Tak Kunjung Mendapatkan Jodoh Zainal Melompat Dari Pohon Cerry</a><i class="icon fa fa-adjust"></i></li>
                        <li class="news-item"><a href="news_details-1.html" class="news-item__link">Hacktiv8 12 Minggu Menjadi Full Setak Developer</a><i class="icon fa fa-adjust"></i></li>
                        <li class="news-item"><a href="news_details-1.html" class="news-item__link">Tak Kunjung Lulus Siswa Bootcamp Melakukan Demo Di Kelas</a><i class="icon fa fa-adjust"></i></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="header-main header-main_inner_page">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <ul class="social-links list-inline">
                      <li><a href="twitter.com" class="social-links__item_link"><i class="icon fa fa-twitter"></i></a></li>
                      <li><a href="facebook.com" class="social-links__item_link"><i class="icon fa fa-facebook"></i></a></li>
                      <li><a href="instagram.com" class="social-links__item_link"><i class="icon fa fa-instagram"></i></a></li>
                      <li><a href="linkedin.com" class="social-links__item_link"><i class="icon fa fa-linkedin"></i></a></li>
                      <li><a href="pinterest.com" class="social-links__item_link"><i class="icon fa fa-pinterest-p"></i></a></li>
                      <li><a href="youtube.com" class="social-links__item_link"><i class="icon fa fa-youtube-play"></i></a></li>
                      <li><a href="rss.com" class="social-links__item_link"><i class="icon fa fa-rss"></i></a></li>
                    </ul>
                  </div>
                  <div class="col-md-4"><a href="/" class="logo"><img src="assets/media/general/logo_mod-a.png" alt="Logo" class="logo__img img-responsive center-block"/></a></div>
                  <div class="col-md-4">
                    <div class="header-main__links"><a href="/login" class="header-main__links-item">Log In</a><a href="#fakelink" class="search-open"><i class="icon pe-7s-search"></i></a></div>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <div class="wrap-nav">
            <nav class="navbar yamm">
              <div id="navbar-collapse-1" class="navbar-collapse collapse">
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12">
                    <!-- menu -->
                    <%- include partial/menu %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="header-search">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                      <div class="navbar-search">
                        <form class="search-global">
                          <input type="text" placeholder="Type to search" autocomplete="off" name="s" value="" class="search-global__input"/>
                          <button class="search-global__btn"><i class="icon fa fa-search"></i></button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" class="search-close close"><i class="fa fa-times"></i></button>
              </div>
            </nav>
            <div class="section-title section-bg">
              <div class="section__inner">
                <h1 class="ui-title-page">Warung Coding</h1>
              </div>
            </div>
          </div>
          <div class="breadcrumb-wrap">
            <ol class="breadcrumb">
              <li><a href="/">HOME</a></li>
              <li class="active">NEWS LIST</li>
            </ol>
          </div>
          <div class="section-type-b">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <div data-pagination="false" data-navigation="true" data-single-item="true" data-auto-play="7000" data-transition-style="fade" data-main-text-animation="true" data-after-init-delay="3000" data-after-move-delay="1000" data-stop-on-hover="true" class="slider-type-a owl-carousel owl-theme owl-theme_mod-d enable-owl-carousel">
                    <div class="slider-type-a__item"><img src="/gambar-hd/gambar-admin-3.jpg" alt="foto" class="slider-type-a__img">
                      <div class="slider-type-a__inner">
                        <div class="slider-type-a__title">Portal Berita Terkini</div>
                        <div class="slider-type-a__footer"><span class="slider-type-a__meta">des 17, 2017</span><span class="slider-type-a__meta"><i class="icon pe-7s-comment"></i>62</span></div>
                      </div>
                    </div>
                    <div class="slider-type-a__item"><img src="/gambar-hd/gambar-admin-4.jpg" alt="foto" class="slider-type-a__img">
                      <div class="slider-type-a__inner">
                        <div class="slider-type-a__title">Bacalah Sebelum Di Bacakan</div>
                        <div class="slider-type-a__footer"><span class="slider-type-a__meta">des 16, 2016</span><span class="slider-type-a__meta"><i class="icon pe-7s-comment"></i>62</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-default">
            <div class="container">
              <div class="row">
                <div class="col-md-8">
                  <!-- CONTENT BERITA -->
                  <% dtBerita.forEach(dataBerita =>{ %>
                    <article class="post post-5 clearfix">
                      <div class="entry-media"><a href="assets/media/content/post/340x310/1.jpg" class="prettyPhoto"><img src="/images/<%= dataBerita.gambar %>" alt="Foto" class="img-responsive"/></a></div>
                      <div class="entry-main">
                        <div class="entry-header">
                          <h2 class="entry-title"><a href="/blog/detail/<%= dataBerita.id %>"><%= dataBerita.judulBerita %></a></h2>
                        </div>
                        <div class="entry-meta"><span class="entry-meta__item">By<a href="/blog/detail/<%= dataBerita.id %>" class="entry-meta__link"> john sina</a></span><span class="entry-meta__item"><a href="/blog/detail/<%= dataBerita.id %>" class="entry-meta__link">15 mins ago</a></span><span class="entry-meta__item"><i class="icon pe-7s-comment"></i><a href="/blog/detail/<%= dataBerita.id %>" class="entry-meta__link">23</a></span></div>
                        <div class="entry-content">
                          <p>Lorem ipsum dolor amet consectetur adipisicing elit sed do eiusmod tempor incididunt labore et dolore magna aliqua enimad minim veniam quis nostruda exercitation ullamco laboris onsequat ...</p>
                        </div>
                        <div class="entry-footer"><a href="/blog/detail/<%= dataBerita.id %>" class="btn-link">Continue Reading</a></div>
                      </div>
                    </article>
                  <% }) %>
                  <!-- END OF CONTENT BERITA -->
                </div>
                <div class="col-md-4">
                  <aside class="sidebar">
                    <div class="widget">
                      <form id="search-global-form" method="get" class="form-search" action="/blog">
                        <div class="form-group has-feedback">
                          <input type="text" placeholder="Search.." class="form-search__input form-control" name="search">
                          <button class="form-search__btn icon pe-7s-search form-control-feedback" type="submit"></button>
                        </div>
                      </form>
                    </div>
                    <section class="widget">
                      <h2 class="widget-title ui-title-inner text-right">follow us</h2>
                      <div class="decor-right"></div>
                      <div class="widget-content">
                        <ul class="list-subscription list-unstyled">
                          <li class="list-subscription__item bg-11"><span class="list-subscription__name">Rss</span><span class="list-subscription__number">164.983</span> followers<a href="rss.com" class="list-subscription__link"><i class="icon fa fa-rss"></i></a></li>
                          <li class="list-subscription__item bg-8"><span class="list-subscription__name">TW</span><span class="list-subscription__number">714,967</span> followers<a href="twitter.com" class="list-subscription__link"><i class="icon fa fa-twitter"></i></a></li>
                          <li class="list-subscription__item bg-9"><span class="list-subscription__name">FB</span><span class="list-subscription__number">250,642</span> likes<a href="facebook.com" class="list-subscription__link"><i class="icon fa fa-facebook"></i></a></li>
                          <li class="list-subscription__item bg-10"><span class="list-subscription__name">yt</span><span class="list-subscription__number">920,497</span> subscribers<a href="youtube.com" class="list-subscription__link"><i class="icon fa fa-youtube-play"></i></a></li>
                        </ul>
                      </div>
                    </section>
                    <!-- CATEGORIES SECTION -->
                    <section class="widget">
                      <h2 class="widget-title ui-title-inner text-right">categories</h2>
                      <div class="decor-right"></div>
                      <div class="widget-content">
                        <% category.forEach(dataCategory =>{ %>
                          <ul class="list list-mark-1 list-mark-1_mod-a">
                            <li><a href="/interface/<%= dataCategory.id %>"><%= dataCategory.nameCategory %></a></li>
                          </ul>
                        <% }) %>
                      </div>
                    </section>
                    <!-- END OF CATEGORIES SECTION -->

                    <!-- POPULAR NEWS -->

                    <section class="widget">
                      <h2 class="widget-title ui-title-inner text-right">popular news</h2>
                      <div class="decor-right"></div>
                      <div class="widget-content">
                        <article class="post post-3 post-3_mod-a clearfix">
                          <div class="entry-media"><a href="assets/media/content/post/100x100/1.jpg" class="prettyPhoto"><img src="assets/media/content/post/100x100/1.jpg" alt="Foto" class="img-responsive"/></a></div>
                          <div class="entry-main">
                            <div class="entry-header">
                              <h2 class="entry-title"><a href="news_details-1.html">Incididunt ulabore dolore malnu alikua</a></h2>
                            </div>
                            <div class="entry-meta"><span class="category color-4">entertainment</span><span class="entry-meta__item"><i class="icon pe-7s-comment"></i><a href="news_details-1.html" class="entry-meta__link">6</a></span></div>
                          </div>
                        </article>
                      </div>
                    </section>
                    <!-- END OF POPULAR NEWS -->
                    <div class="widget"><a href="home.html" class="banner"><img src="assets/media/content/banners/1.jpg" alt="banner" class="img-responsive center-block"></a></div>
                    <section class="widget">
                      <h2 class="widget-title ui-title-inner text-right">stay updated</h2>
                      <div class="decor-right"></div>
                      <div class="widget-content">
                        <p>Sign up for our newsletter to receive latest news as it happenes in your inbox.</p>
                        <form class="form-subscribe">
                          <div class="form-group has-feedback">
                            <input type="email" placeholder="your email address" class="form-control">
                            <button class="icon pe-7s-mail form-control-feedback"></button>
                          </div>
                        </form>
                      </div>
                    </section>
                  </aside>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <section class="section-soc-slider">
                  <div class="wrap-title-bg wrap-title-bg_mod-a">
                    <h2 class="ui-title-bg">instagram images<span class="ui-title-bg__subtitle">follow us @ instagram</span></h2>
                  </div>
                  <div data-min480="1" data-min768="5" data-min992="5" data-min1200="5" data-pagination="false" data-navigation="true" data-auto-play="4000" data-stop-on-hover="true" class="owl-carousel owl-theme enable-owl-carousel"><a href="assets/media/content/social-slider/1.jpg" class="prettyPhoto"><img src="assets/media/content/social-slider/1.jpg" alt="foto" class="img-responsive"></a><a href="assets/media/content/social-slider/2.jpg" class="prettyPhoto"><img src="assets/media/content/social-slider/2.jpg" alt="foto" class="img-responsive"></a><a href="assets/media/content/social-slider/3.jpg" class="prettyPhoto"><img src="assets/media/content/social-slider/3.jpg" alt="foto" class="img-responsive"></a><a href="assets/media/content/social-slider/4.jpg" class="prettyPhoto"><img src="assets/media/content/social-slider/4.jpg" alt="foto" class="img-responsive"></a><a href="assets/media/content/social-slider/5.jpg" class="prettyPhoto"><img src="assets/media/content/social-slider/5.jpg" alt="foto" class="img-responsive"></a></div>
                </section>
              </div>
            </div>
          </div>
          <footer class="footer">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <div class="footer__first-section"><a href="home.html" class="footer__logo"><img src="assets/media/general/logo_mod-b.png" alt="logo" class="img-responsive"></a>
                    <div class="footer__info">
                      Warung Coding adalah tempat coding bootcamp online
                      dan offline selama 12 Minggu, itu pun jikalau tidak
                       mengulang , kalo mengulang di tambah 1 bulan tiap
                       bulan dan dijamin anda akan menjadi fullsetak.
                    </div>
                    <div class="decor-right decor-right_sm"></div>
                    <div class="footer-contacts">
                      <div class="footer-contacts__item"><i class="icon fa fa-location-arrow"></i>Gedung Aquarius, Hacktiv8 Indonesia</div>
                      <div class="footer-contacts__item"><i class="icon fa fa-phone"></i>021.891823.21313 / 0251.123.4567</div>
                      <div class="footer-contacts__item"><i class="icon fa fa-envelope"></i>pranajaya@hacktiv8.com</div>
                      <div class="footer-contacts__item"><i class="icon fa fa-print"></i>123.456.789</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="clearfix">
                    <div class="footer-wrap-section">
                      <section class="footer-section">
                        <h3 class="footer__title ui-title-inner">categories</h3>
                        <div class="decor-right decor-right_sm bg-7"></div>
                        <ul class="footer-list list list-mark-2">
                          <% category.forEach(dataCategory=>{ %>
                            <li><a href="/interface/<%= dataCategory.id %>"><%= dataCategory.nameCategory  %></a></li>
                          <% })  %>
                        </ul>
                      </section>
                    </div>
                  </div>
                  <form class="footer-form">
                    <div class="form-group has-feedback">
                      <input type="email" placeholder="Search..." class="form-control" name="search">
                      <button class="icon pe-7s-search form-control-feedback bg-primary" type="submit"></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="footer-bottom">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="footer-bottom__link bg-primary">
                      <div class="footer-bottom__wrap-link">we are social<i class="icon fa fa-caret-right"></i></div>
                    </div>
                    <div class="footer-bottom__inner">
                                <ul class="social-links list-inline">
                                  <li><a href="twitter.com" class="social-links__item_link"><i class="icon fa fa-twitter"></i></a></li>
                                  <li><a href="facebook.com" class="social-links__item_link"><i class="icon fa fa-facebook"></i></a></li>
                                  <li><a href="instagram.com" class="social-links__item_link"><i class="icon fa fa-instagram"></i></a></li>
                                  <li><a href="linkedin.com" class="social-links__item_link"><i class="icon fa fa-linkedin"></i></a></li>
                                  <li><a href="pinterest.com" class="social-links__item_link"><i class="icon fa fa-pinterest-p"></i></a></li>
                                  <li><a href="youtube.com" class="social-links__item_link"><i class="icon fa fa-youtube-play"></i></a></li>
                                  <li><a href="rss.com" class="social-links__item_link"><i class="icon fa fa-rss"></i></a></li>
                                </ul>
                    </div>
                    <div class="copyright">© 2017<a href="home.html"> MONKEY NEWS AGENCY.</a> All rights reserved.</div>
                  </div>
                </div>
              </div>
            </div>
          </footer>
          <!-- end wrap-content-->
        </div>
      </div>
    </div>
    <nav id="cd-nav" class="cd-nav-container"><a href="#0" class="cd-close-nav">Close</a>
      <nav class="sidebar-nav">
        <ul class="sidebar-nav__list list-unstyled">
          <li><a href="#" data-toggle="dropdown">world</a>
            <ul role="menu" class="dropdown-menu">
              <li>
                <ul class="list list-mark-1 list-mark-1_mod-a">
                  <li><a href="category.html">Asia & europe</a></li>
                  <li><a href="category.html">festival games</a></li>
                  <li><a href="category.html">world organizations</a></li>
                  <li><a href="category.html">africa & middle east</a></li>
                  <li><a href="category.html">pakistan & india</a></li>
                  <li><a href="category.html">usa & canada</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#" data-toggle="dropdown">Health</a>
            <ul role="menu" class="dropdown-menu">
              <li>
                <ul class="list list-mark-1 list-mark-1_mod-a">
                  <li><a href="category.html">Asia & europe</a></li>
                  <li><a href="category.html">festival games</a></li>
                  <li><a href="category.html">world organizations</a></li>
                  <li><a href="category.html">africa & middle east</a></li>
                  <li><a href="category.html">pakistan & india</a></li>
                  <li><a href="category.html">usa & canada</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#" data-toggle="dropdown">technology</a>
            <ul role="menu" class="dropdown-menu">
              <li>
                <ul class="list list-mark-1 list-mark-1_mod-a">
                  <li><a href="category.html">Asia & europe</a></li>
                  <li><a href="category.html">festival games</a></li>
                  <li><a href="category.html">world organizations</a></li>
                  <li><a href="category.html">africa & middle east</a></li>
                  <li><a href="category.html">pakistan & india</a></li>
                  <li><a href="category.html">usa & canada</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#" data-toggle="dropdown">politics</a>
            <ul role="menu" class="dropdown-menu">
              <li>
                <ul class="list list-mark-1 list-mark-1_mod-a">
                  <li><a href="category.html">Asia & europe</a></li>
                  <li><a href="category.html">festival games</a></li>
                  <li><a href="category.html">world organizations</a></li>
                  <li><a href="category.html">africa & middle east</a></li>
                  <li><a href="category.html">pakistan & india</a></li>
                  <li><a href="category.html">usa & canada</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#" data-toggle="dropdown">entertainment</a>
            <ul role="menu" class="dropdown-menu">
              <li>
                <ul class="list list-mark-1 list-mark-1_mod-a">
                  <li><a href="category.html">Asia & europe</a></li>
                  <li><a href="category.html">festival games</a></li>
                  <li><a href="category.html">world organizations</a></li>
                  <li><a href="category.html">africa & middle east</a></li>
                  <li><a href="category.html">pakistan & india</a></li>
                  <li><a href="category.html">usa & canada</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#" data-toggle="dropdown">lifestyle</a>
            <ul role="menu" class="dropdown-menu">
              <li>
                <ul class="list list-mark-1 list-mark-1_mod-a">
                  <li><a href="category.html">Asia & europe</a></li>
                  <li><a href="category.html">festival games</a></li>
                  <li><a href="category.html">world organizations</a></li>
                  <li><a href="category.html">africa & middle east</a></li>
                  <li><a href="category.html">pakistan & india</a></li>
                  <li><a href="category.html">usa & canada</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#" data-toggle="dropdown">Sports</a>
            <ul role="menu" class="dropdown-menu">
              <li>
                <ul class="list list-mark-1 list-mark-1_mod-a">
                  <li><a href="category.html">Asia & europe</a></li>
                  <li><a href="category.html">festival games</a></li>
                  <li><a href="category.html">world organizations</a></li>
                  <li><a href="category.html">africa & middle east</a></li>
                  <li><a href="category.html">pakistan & india</a></li>
                  <li><a href="category.html">usa & canada</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#" data-toggle="dropdown">travel</a>
            <ul role="menu" class="dropdown-menu">
              <li>
                <ul class="list list-mark-1 list-mark-1_mod-a">
                  <li><a href="category.html">Asia & europe</a></li>
                  <li><a href="category.html">festival games</a></li>
                  <li><a href="category.html">world organizations</a></li>
                  <li><a href="category.html">africa & middle east</a></li>
                  <li><a href="category.html">pakistan & india</a></li>
                  <li><a href="category.html">usa & canada</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- end layout-theme-->



    </nav>


    <script src="assets/js/main.js"></script>
    <script src="assets/js/separate-js/custom.js"></script>
    <script src="assets/plugins/3d-bold-navigation/main.js"></script>
    <script src="assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="assets/plugins/slider-pro/jquery.sliderPro.js"></script>
    <script src="assets/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="assets/plugins/isotope/isotope.pkgd.min.js"></script>
    <script src="assets/plugins/prettyphoto/jquery.prettyPhoto.js"></script>
    <script src="assets/plugins/bootstrap-select/bootstrap-select.js"></script>
    <script src="assets/plugins/rendro-easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="assets/plugins/doubletaptogo.js"></script>
    <script src="assets/plugins/waypoints.min.js"></script>
    <script src="assets/plugins/news-ticker/js/endlessRiver.js"></script>
    <script src="assets/plugins/datetimepicker/jquery.datetimepicker.js"></script>
    <script src="assets/plugins/flexslider/jquery.flexslider.js"></script>
    <script src="assets/plugins/jarallax/jarallax.js"></script>
    <script src="assets/plugins/scrollreveal/scrollreveal.js"></script>
    <script src="assets/plugins/classie.js"></script>
    <script src="assets/plugins/switcher/js/dmss.js"></script>
  </body>
</html>
